@media(max-width:850px){
    .menu-btn{
        display: block;
    } 
    .nav-menu{
        display: flex;
    }
    .nav-menu li{
        margin: 0 30px;
       
    }

    .nav{
        padding: 0;
    }


    .nav-title {
        position: absolute;
        margin:  0;
        top: 0px;
    }

    .nav-menu a {
        font-size: 24px;
    } 

    .nav-menu{
        flex-direction: column;
        width: 100%;
        height: 100vh;
       /*  margin-top: -1100px; */
        background-color: #a06d91;
        justify-content: center;
        margin-top: -1100px;
        transition: .5s;
        
        
    }
    .mobile-menu{
        margin-top: 0;

    }
    .nav-menu li{
        margin: 2.5rem auto;
    }
    .nav-menu a {
        text-transform: uppercase;
        font-size: 1.4rem;
    }

    
}

.linkmenu{
    font-size: 50px !important;
}
